.App {

}

body {
  background: #111111;
}

.header {
  width: 100%;
  position: fixed;
  display: flex;
  justify-content: space-between;
  font-size: 16px;
  padding: 8px 8px 8px 16px;
  color: white;
  background-color: rgba(0, 0, 0, 0.8);
}

.nav {
  display: flex;
}

.login { 
  margin-right: 32px;
}

.header h5 {
  font-size: 14px;
  margin: 0px 16px 0px 16px;
}

.header p {
  font-size: 14px;
  margin: 0px 16px 0px 16px;
}

.header a {
  text-decoration: none;
  color: white;
  font-size: 14px;
  margin: 0px 16px 0px 16px;
}

.container {
  width: 96%;
  margin: auto;
  padding-top: 56px;
}

.login-btns {
  display: flex;
  margin-bottom: 16px;
}

.main-panel {
  color: white;
  background-color: black;
  border: 8px solid #444444;
  border-bottom: 12px solid #444444;
  border-radius: 16px;
}

.main-info {
  flex-wrap: wrap;
  display: flex;
  justify-content: space-between;
}

.master-vol {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin: 8px;
  font-size: 16px;
}

.master-vol p {
  margin: 8px 0px 0px 0px;
}

.main-info {
  padding: 8px 8px 0px 8px;
  margin: 8px 8px 0px 8px;
}

hr {
  border: 2px solid #444444;
  border-radius: 2px;
  margin: 0px;
}

h1 {
  margin: 20px 0px 16px 0px;
  font-family: 'Bebas Neue', cursive;
  font-size: 48px;
}

.xenloop-title {
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  display: flex;
  align-items: center;
  text-align: center;
}
.xenloop-title::after {
  content: '';
  flex: 1;
  border-bottom: 4px solid #444444;
  border-radius: 2px;
  margin-left: 16px;
}

h3 { 
  margin: 18px 0px 18px 0px;
}

.track-number {
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  display: flex;
  align-items: center;
  text-align: center;
}
.track-number::after {
  content: '';
  flex: 1;
  border-bottom: 4px solid #444444;
  border-radius: 2px;
  margin: 0px 0px 15px 16px;
}

.track-section {
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  display: flex;
  align-items: center;
  text-align: center;
}
.track-section::after {
  content: '';
  flex: 1;
  border-bottom: 4px solid #444444;
  border-radius: 2px;
  margin: 12px 0px 0px 16px;
}

.about-container {
  width: 90%;
  margin: auto;
  background-color:black;
}

.about-text-center {
  color: white;
  text-align: center;
}

/* .about-wallpaper {
  height: 100%;
  width: 90%;
  margin:auto;
  position: sticky;
  background-image: url('./assets/pedal.jpg')
} */

.reverb-test {
  padding-top: 50px;
}

.project-title {
  font-size: 24px;
  color: rgb(165, 255, 123);
  font-family: 'VT323', monospace;
  display: flex;
  align-items: center;
  width: 300px;
  background-color: #27325B;
  padding: 8px;
  border: 2px solid white;
  border-radius: 8px;
  margin-top: 26px;
  box-shadow: inset 0 -4px 0 rgba(0, 0, 0, 0.3);
  text-transform: uppercase;
  outline: none;
}

.ctrl-line-1 {
  margin-bottom: 40px;
}

.main-btns {
  margin-top: 10px;
  font-size: 12px;
  display: flex;
}

.main-control {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 8px;
}

.master-rev {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  font-size: 12px;
  margin-right: 16px;
}

.master-rev p {
  margin: 0px;
}

.master-rev hr {
  width: 96px;
  margin-bottom: 2px;
}

.master-rev-toggle {
  height: 16px;
  width: 36px;
  background-color: #007FC7;
  border: 3px solid white;
  border-radius: 16px;
}

.effect-toggle {
  height: 8px;
  width: 20px;
  background-color: #007FC7;
  border: 3px solid white;
  border-radius: 16px;
  margin-top: 14px;
  margin: 14px 0px 4px 0px;
}

.small-tick {
  margin:auto;
  height: 12px;
  width: 4px;
  border-radius: 0px 0px 8px 8px;
  background-color: white;
}

.medium-tick {
  margin:auto;
  height: 20px;
  width: 4px;
  border-radius: 0px 0px 8px 8px;
  background-color: white;
}

.large-tick {
  margin:auto;
  height: 30px;
  width: 4px;
  border-radius: 0px 0px 8px 8px;
  background-color: white;
}

.large-knob {
  height: 104px;
  width: 104px;
  border: 3px solid white;
  border-radius: 50%;
  background-color: #333333;
  box-shadow: inset 0 -8px 0 rgba(0, 0, 0, 0.5)
}

.medium-knob {
  height: 64px;
  width: 64px;
  border: 3px solid white;
  border-radius: 50%;
  background-color: #333333;
  box-shadow: inset 0 -6px 0 rgba(0, 0, 0, 0.5)
}

.small-knob {
  height: 32px;
  width: 32px;
  border: 3px solid white;
  border-radius: 50%;
  background-color: #333333;
  box-shadow: inset 0 -4px 0 rgba(0, 0, 0, 0.5)
}

.effect-knobs {
  display: flex;
  justify-content: center;
}

.track-volume {
  font-size: 12px;
  padding: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.track-volume p {
  margin-top: 16px;
}

.track-effect {
  font-size: 10px;
  padding: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tracks {
  display:flex;
  flex-wrap: wrap;
  padding: 16px;
  justify-content: space-between;
}

.track-panel {
  background-color: black;
  padding: 16px;
  border: 8px solid #444444;
  border-bottom: 16px solid #444444;
  border-radius: 16px;
  margin: 8px;
}

.login-title {
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login-title h2 {
  font-size: 32px;
  font-family: 'Bebas Neue', cursive;
}

.login-container {
  color: white;
  padding-top:130px;
}

.login-panel {
  width: 300px;
  background-color: black;
  padding: 40px;
  border: 8px solid #444444;
  border-bottom: 16px solid #444444;
  border-radius: 16px;
  margin: auto;
}

.track-header p {
  margin: 0px;
}

.track-header h3 {
  margin: 0px 0px 16px 0px;
}

.track-title {
  color: rgb(165, 255, 123);
  padding: 8px;
  font-family: 'VT323', monospace;
  background-color: #27325B;
  border: 2px solid white;
  border-radius: 8px;
  box-shadow: inset 0 -4px 0 rgba(0, 0, 0, 0.3);
  text-transform: uppercase;
  outline: none;
}

.login-user {
  color: rgb(165, 255, 123);
  padding: 8px;
  font-family: 'VT323', monospace;
  background-color: #27325B;
  border: 2px solid white;
  border-radius: 8px;
  box-shadow: inset 0 -4px 0 rgba(0, 0, 0, 0.3);
  text-transform: uppercase;
  outline: none;
  margin-bottom: 16px;
}

.login-password {
  color: rgb(165, 255, 123);
  padding: 8px;
  font-family: 'VT323', monospace;
  background-color: #27325B;
  border: 2px solid white;
  border-radius: 8px;
  box-shadow: inset 0 -4px 0 rgba(0, 0, 0, 0.3);
  text-transform: uppercase;
  outline: none;
}

.medium-btns {
  display: flex;
  justify-content: space-between;
}

h4 {
  font-weight: normal;
  font-size: 16px;
  margin: 28px 0px 16px 0px;
}

.ctrl-title {
  margin-top: 22px;
}

.bpm-input {
  font-family: 'VT323', monospace;
  font-size: 22px;
  color: rgb(165, 255, 123);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 38px;
  width: 96px;
  background-color: #27325B;
  border: 2px solid white;
  border-radius: 8px;
  box-shadow: inset 0 -5px 0 rgba(0, 0, 0, 0.3)
}

.small-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 38px;
  width: 96px;
  background-color: #333333;
  border: 2px solid white;
  border-radius: 8px;
  box-shadow: inset 0 -5px 0 rgba(0, 0, 0, 0.3)
}

.login-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 8px;
  height: 38px;
  width: 50%;
  background-color: #333333;
  border: 2px solid white;
  border-radius: 8px;
  box-shadow: inset 0 -5px 0 rgba(0, 0, 0, 0.3);
  font-weight: bold;
  font-size: 12px;
}

.login-btn a {

  font-weight: bold;
  text-decoration: none;
  color: white;
  font-size: 12px;
}

.login-panel hr {
  margin-top: 16px;
  margin-bottom: 16px;
}

.forgot-pass a {
  text-align:center;
  text-decoration: none;
  color: #888888;
  font-size: 12px;
}

.signup-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 8px;
  height: 38px;
  width: 50%;
  background-color: #333333;
  border: 2px solid white;
  border-radius: 8px;
  box-shadow: inset 0 -5px 0 rgba(0, 0, 0, 0.3);
  font-weight: bold;
  font-size: 12px;
}

.small-btn-green {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 38px;
  width: 96px;
  color: #00CF21; 
  background-color: #333333;
  border: 2px solid #00CF21;
  border-radius: 8px;
  box-shadow: 0px 0px 18px #00CF21;
}

.medium-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  width: 44%;
  background-color: #333333;
  border: 2px solid white;
  border-radius: 8px;
  margin-bottom: 8px;
  box-shadow: inset 0 -5px 0 rgba(0, 0, 0, 0.3)
}

.medium-btn-red {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  width: 44%;
  background-color: #333333;
  background-color: #333333;
  border: 2px solid #C90000;
  border-radius: 8px;
  box-shadow: 0px 0px 18px #C90000;
}

.medium-btn-yellow {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  width: 44%;
  background-color: #333333;
  background-color: #333333;
  border: 2px solid #C99D00;
  border-radius: 8px;
  box-shadow: 0px 0px 18px #C99D00;
}



.large-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  width: 98%;
  background-color: #333333;
  border: 2px solid white;
  border-radius: 8px;
  margin-top: 8px;
  box-shadow: inset 0 -5px 0 rgba(0, 0, 0, 0.3)
}

.about-logo {
  margin: 64px;
}

.large-btn-green {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  width: 98%;
  background-color: #333333;
  border-radius: 8px;
  margin-top: 8px;
  border: 2px solid #00CF21;
  border-radius: 8px;
  box-shadow: 0px 0px 18px #00CF21;
}

.large-btn-yellow {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  width: 98%;
  background-color: #333333;
  border-radius: 8px;
  margin-top: 8px;
  border: 2px solid #C99D00;
  border-radius: 8px;
  box-shadow: 0px 0px 18px #C99D00;
}



.big-knob {
  border: solid 4px #555555;
  font-size: 8px;
}

.controls {
  margin-top: -24px;
}

.about {
  margin:auto;
  margin-top: 56px;
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 48px;
  color: white;
}

.about-text-left {
  font-size: 16px;
  width: 200px;
  padding: 0px 16px 16px 0px;
  width: 65%;
  border-right: 1px solid white;
  margin-right: 32px;
}
.about img {
  margin: auto;
  }

.about-text-right {
  font-size: 16px;
  width: 200px;
  padding: 0px 0px 16px 40px;
  width: 65%;
  border-left: 1px solid white;
  margin-left: 32px;
}

.hero-text {
  width: 60%;
  text-align: center;
  margin: auto;
  margin-top: 0px;
  padding-top: 104px;
  padding-bottom: 32px;
  color: white;
}

.hero-text h1 {
  font-size: 64px;
}

.about h3 {
  font-size: 48px;
  font-family: 'Bebas Neue', cursive;
}

.about-text-center h3 {
  font-size: 48px;
  font-family: 'Bebas Neue', cursive;
}

.hero {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  margin-bottom: 48px;
}


.react-toggle {
  touch-action: pan-x;

  display: inline-block;
  position: relative;
  cursor: pointer;
  background-color: transparent;
  border: 0;
  padding: 0;

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-tap-highlight-color: transparent;
}

.react-toggle-screenreader-only {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.react-toggle--disabled {
  cursor: not-allowed;
  opacity: 0.5;
  -webkit-transition: opacity 0.25s;
  transition: opacity 0.25s;
}

.react-toggle-track {
  width: 40px;
  height: 20px;
  padding: 0;
  border-radius: 30px;
  background-color: #4D4D4D;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

/* .react-toggle:hover:not(.react-toggle--disabled) .react-toggle-track {
  background-color: #000000;
} */

.react-toggle--checked .react-toggle-track {
  background-color: #007FC7;
}

.react-toggle--checked:hover:not(.react-toggle--disabled) .react-toggle-track {
  background-color: #007FC7;
}

.react-toggle-track-check {
  position: absolute;
  width: 14px;
  height: 10px;
  top: 0px;
  bottom: 0px;
  margin-top: auto;
  margin-bottom: auto;
  line-height: 0;
  left: 8px;
  opacity: 0;
  -webkit-transition: opacity 0.25s ease;
  -moz-transition: opacity 0.25s ease;
  transition: opacity 0.25s ease;
}

.react-toggle--checked .react-toggle-track-check {
  opacity: 1;
  -webkit-transition: opacity 0.25s ease;
  -moz-transition: opacity 0.25s ease;
  transition: opacity 0.25s ease;
}

.react-toggle-track-x {
  position: absolute;
  width: 10px;
  height: 10px;
  top: 0px;
  bottom: 0px;
  margin-top: auto;
  margin-bottom: auto;
  line-height: 0;
  right: 10px;
  opacity: 1;
  -webkit-transition: opacity 0.25s ease;
  -moz-transition: opacity 0.25s ease;
  transition: opacity 0.25s ease;
}

.react-toggle--checked .react-toggle-track-x {
  opacity: 0;
}

.react-toggle-thumb {
  transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1) 0ms;
  position: absolute;
  top: 1px;
  left: 1px;
  width: 18px;
  height: 18px;
  border: 1px solid #4D4D4D;
  border-radius: 50%;
  background-color: #FAFAFA;

  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

  -webkit-transition: all 0.25s ease;
  -moz-transition: all 0.25s ease;
  transition: all 0.25s ease;
}

.react-toggle--checked .react-toggle-thumb {
  left: 21px;
  border-color: #007FC7;
}

.react-toggle--focus .react-toggle-thumb {
  -webkit-box-shadow: 0px 0px 3px 2px #0099E0;
  -moz-box-shadow: 0px 0px 3px 2px #0099E0;
  box-shadow: 0px 0px 2px 3px #0099E0;
}

.react-toggle:active:not(.react-toggle--disabled) .react-toggle-thumb {
  -webkit-box-shadow: 0px 0px 5px 5px #0099E0;
  -moz-box-shadow: 0px 0px 5px 5px #0099E0;
  box-shadow: 0px 0px 5px 5px #0099E0;
}

.reverb-toggle {
  margin: 16px 0px 6px 0px;
}  

.delay-toggle {
  margin: 15px 0px 7px 0px;
}  